/* color */
body.dark-mode .team-card {
    background-color: #1a1a1a;
    border-left: 4px solid #ff4c4c;
    color: #f5cfcf;
  }
  
  .team-card {
    transition: transform 0.3s ease;
    border-radius: 12px;
  }
/* hover */
  .team-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
