/* Login Card */
.login-card {
    border-radius: 15px;
    background-color: #fff;
  }
/*   color */
/* dark themed mode for proper enchancibilty  */
  body.dark-mode .login-card {
    background-color: #1a1a1a;
    color: #fff;
  }
  
  body.dark-mode .login-card input {
    background-color: #111;
    color: #fff;
    border: 1px solid #ff4c4c;
  }
  
  body.dark-mode .login-card input::placeholder {
    color: #ccc;
  }
  
